/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Listes d'items */
.liste { margin-bottom: 1.5em; }
.cards { margin: 0; padding: 0; list-style: none; border-bottom: 0; margin-bottom: 1.5em; }
.liste .cards { margin-bottom: 0; }
.cards .card { overflow: hidden; }
.cards .card .entry-title { margin-bottom: 0; }
.cards .card .entry-title a:hover { text-decoration: none; }

.liste-items .item ul { margin-left: 2em; list-style-type: disc; }
.liste-items .item ol { margin-left: 2em; list-style-type: numeric; }

/* Listes spécifiques */

.breadcrumb-items { margin: 0; list-style: none; }
.breadcrumb-items .item { display: inline; }

/* plan du site */
ul.plan { margin-bottom: 1.5em; }
ul.plan li { margin-left: 2em; list-style-type: disc; }