/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: bold; font-family: var(--font-titres); }

h1, h1 a, h1 a:focus, h1 a:hover, h1 a:active,
.h1, .h1 a, .h1 a:focus, .h1 a:hover, .h1 a:active,
h2, h2 a, h2 a:focus, h2 a:hover, h2 a:active,
.h2, .h2 a, .h2 a:focus, .h2 a:hover, .h2 a:active,
h3, h3 a,
.h3, .h3 a { color: #222; }

/* Citations, code et poesie */
.spip_code { color: #777; }
.spip_cadre { color: #777; background-color: #fff; border: 1px solid #ddd; }

/* Tableaux */
table.spip tr.row_even td,table.spip tr.row_even th { background: transparent; }

/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */
body { background: #fff; font-size: 120%; }

.header { margin: 0; padding : 1.5em 0; position: relative; background: #111; box-shadow: 0 6px 6px -6px rgba(0,0,0,0.2); }
.header .container { position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.header .accueil { flex-grow: 1; }
.header .accueil .spip_logo { float: none; margin: 0 0.25em 0 0; }
.header .accueil #nom_site_spip { display: flex; align-items: center; margin-bottom: 0; font-size: 1.5em; font-family: var(--font-base); color: #fff; line-height: 1; }
.header .accueil a,
.header .accueil a:hover { color: #fff; text-decoration: none; }
.header #nav-toggle-label { order: 1; }
@media (max-width: 991px) {
	.header .container { flex-direction: column; }
	.header .accueil .spip_logo { display: block; margin: 0 auto 0.5em; }
	.header .accueil #nom_site_spip { display: block; text-align: center; }
}

.footer,
.footer a { color: rgba(0,0,0,0.55); font-family: var(--font-base); }
.footer a:hover { text-decoration: none; }

.breadcrumb { clear: both; margin-bottom: 1.5em; font-size: 0.75em; font-family: var(--font-base); }
.breadcrumb, .breadcrumb a { color: rgba(0,0,0,0.55); }
.page_sommaire .breadcrumb { display: none; }

.cartouche { margin-bottom: 1.5em; }
.cartouche h1 { margin-bottom: 0; }
.cartouche .spip_logo { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche .publication,
.cartouche .postmeta { margin: 0; padding: 0; clear: left; font-size: 0.9em; }
.entry .publication,
.entry .postmeta { font-size: 0.9em; }
.publication,
.postmeta { color: rgba(0,0,0,0.55); font-family: var(--font-sans); }
.publication a,
.postmeta a { color: rgba(0,0,0,0.55); }
.publication a:hover,
.postmeta a:hover { color: #0073aa; }
.postmeta > :first-child > .sep:first-child { display: none; }
.postmeta .tags ul,
.postmeta .tags ul li { margin: 0; }
div.socialtags { clear: none; margin-top: 0.75em; }
div.socialtags img { height: 24px; }

.chapo { margin-bottom: 1.5em; font-weight: bold; font-size: 1.125em; color: rgba(0, 0, 0, 0.7); }
.ps, .notes { margin-bottom: 1.5em; }
.notes { clear: both; font-size: 0.846em; }

.main .logo_full { display: block; margin-bottom: 1.5em; }

/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.articles.logos h3 { margin-bottom: 0.5em; }
.long.logos .spip_logo { float: none; margin: 0 0 0.5em; }
.long.logos .publication { margin-bottom: 0.25em; }

.extra .menu .h2,
.extra .liste .h2 { margin-bottom: 1em; }

.formulaire_recherche { margin: 0; }
.formulaire_recherche input.text { min-width: 240px; text-align: center; padding: 0.25em; }

/* ------------------------------------------
/* Couleurs des liens
---------------------------------------------- */
a { color: #0073aa; text-decoration: none; }
a:focus,a:hover,a:active { color: #005177; text-decoration: underline; background-color: transparent; border-color: transparent; }

/* ------------------------------------------
/* Variantes
/* ------------------------------------------ */

#container { max-width: 680px; font-size: 1.125em; }
@media (max-width: 576px) {
	#container { font-size: 1em; }
}
#container.fullwidth { max-width: none; width: 100%; }

.page_login .content { max-width: 360px; margin: 0 auto; padding: 1em 0; text-align: center; }
.page_login #breadcrumb,
.page_login .cartouche h1 small,
.page_login #formulaire_menu_lang,
.page_login #formulaire_login legend,
.page_login #formulaire_login #spip_logo_auteur,
.page_login .formulaire_login #pass_securise { display: none !important; }
.page_login .formulaire_login *,
.page_login .formulaire_login label { text-align: center; }

/* ------------------------------------------
/* Expoos
/* ------------------------------------------ */

/* temp fix for oembed ref https://git.spip.net/spip-contrib-extensions/oembed/issues/15 */
.oembed .spip_doc_legende { margin-left: auto; margin-right: auto; }

/* components */
.card { margin-bottom: 2.5rem; }
.has-gutter-xl .card { margin-bottom: 4rem; }

.card .banner { background: #bdbdbd; }
.card .banner a { color: #fff; }
.card .banner img,
.card .banner svg { display: block; margin: 0 auto; }
.card .entry-title { font-family: var(--font-corps); }
.card .rang { opacity: 0.4; font-size: 70%; float: right; margin: 0 0 0.5em 0.5em; }

.card.default { border-radius: 0.5rem; box-shadow: 0 0 10px rgba(0,0,0,0.15); transition: box-shadow 0.2s ease-out; }
.card.default:hover { box-shadow: 0 7px 13px rgba(0,0,0,0.2); }
.card.default .entry-title { margin-bottom: 0.5em; }
.card.default .details { padding: 1em; }
.card.default .details a { color: initial; }
.card.default .details p { margin-bottom: 0; }
.card.default .details .actions { margin-top: 1em; }

.card.numero { text-align: center; }
.card.numero .entry-title { font-size: 3em; }
.card.numero a { display: block; padding: 1em 0; }

.card:where(.carre,.rectangle,.portrait) .banner { margin-bottom: 0.5em; }
@media (min-width:576px){
	.card:where(.carre,.rectangle,.portrait) .entry-title { font-size: 0.725em; }
}
.card:where(.carre,.rectangle,.portrait) .objet_type { font-size: 0.625em; }

.offline-download { float: none !important; margin: 0 !important; }
.offline-download .btn { margin: 0 auto !important; }

.objet_type { display: inline-block; padding: 0.25em 0.5em; font-weight: bold; font-family: var(--font-base); line-height: 1; }

.marker-dot div { background-color: #fc3f93; color: #fff; width: 20px; height: 20px; margin-left: 8px; margin-top: 8px; text-align: center; border: 3px solid #fff; border-radius: 13px; font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif; }
.marker-dot span { line-height: 34px }

/* layout */
.page_sommaire #container,
.page_rubrique #container { max-width: none; }

/* variantes */
.rubrique_expo #map_expo { margin-bottom: 3em; }

.article_expo .content { margin-top: 0; }
.article_expo .subnav { background: #111; text-align: center; line-height: 1; }
@media (max-width: 991px) {
	.article_expo .subnav { margin-top: 1.5em; }
}
.article_expo .subnav .pagination-items { margin-bottom: 0; justify-content: space-around; font-family: var(--font-base); }
.article_expo .subnav .pagination-item { flex-basis: auto; }
.article_expo .subnav .pagination-item-label { padding: 0 0.5em; }
.article_expo .subnav .pagination-item-label svg { vertical-align: middle; }
.article_expo .subnav a,
.article_expo .subnav a:focus,
.article_expo .subnav a:hover,
.article_expo .subnav a:active { color: #fff; }
.article_expo .content .container { max-width: 680px; }
.article_expo .logo_full { margin-bottom: 1em; }
.article_expo .postmeta .traductions { display: block; }
.article_expo .postmeta .objet_type { margin-top: 0.5em; }