@font-face {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 700;
	src:local(''),
		url('fraunces-v10-latin-700.woff2') format('woff2'),
		url('fraunces-v10-latin-700.woff') format('woff');
}
@font-face {
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 400;
	src:local(''),
		url('commissioner-v10-latin-regular.woff2') format('woff2'),
		url('commissioner-v10-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Commissioner';
	font-style: normal;
	font-weight: 700;
	src:local(''),
		url('commissioner-v10-latin-700.woff2') format('woff2'),
		url('commissioner-v10-latin-700.woff') format('woff');
}
:root { --font-titres: "Fraunces", serif; }
:root { --font-corps: "Commissioner", sans-serif; }