@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src:local(''),
		url('work-sans-v16-latin-regular.woff2') format('woff2'),
		url('work-sans-v16-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src:local(''),
		url('work-sans-v16-latin-700.woff2') format('woff2'),
		url('work-sans-v16-latin-700.woff') format('woff');
}
:root { --font-titres: "Work Sans", sans-serif; }
:root { --font-corps: "Work Sans", sans-serif; }